@import "tailwindcss";

@theme inline {
  --color-text: #040a0b;
  --color-bg: #fbfefe;
  --color-primary: #4bb6be;
  --color-secondary: #9aa5db;
  --color-accent: #8478ce;

  --color-text-dark: #f4fafb;
  --color-bg-dark: #010404;
  --color-primary-dark: #41acb4;
  --color-secondary-dark: #242f65;
  --color-accent-dark: #3c3187;

  --font-sans: var(--font-space-grotesk);
  --font-serif: var(--font-merriweather);
}

@custom-variant dark (&:where(.dark, .dark *));

body {
  background: var(--background);
  color: var(--text);
  font-family: var(--font-sans);
}
